body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span, tr, th, td, div, ul, li, input, label, textarea {
  font-family: 'Montserrat', sans-serif;
}

.font-20 {
  font-size: 20px !important;
}

.font-13 {
  font-size: 13px !important;
}

.manual-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.manual-input {
  border-radius: 12px;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 28px;
  background-color: #F5F7FB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

.bg-admin {
  background-color: #F5F7FB;
  min-height: 100vh;
}

.bg-admin .sidebar {
  min-height: 100vh;
}

.sidebar i {
  min-width: 20px;
  text-align: center;
}

.bg-admin .sidebar .menuItem {
  font-size: 22px;
  color: #0071BD;
}

.message-item {
  background-color: rgba(0, 113, 189, 0.24);
  width: fit-content;
  max-width: 70%;
  word-break: break-all;
  -webkit-user-modify: read-write-plaintext-only;
}

.bg-admin .sidebar .menuItem:hover {
  background-color: rgba(0, 113, 189, 0.24);
  border-radius: 10px;
  cursor: pointer;
}

.bg-admin .sidebar .signoutLink {
  position: fixed;
  bottom: 20px;
}

@media (max-width: 768px) {
  .bg-admin .sidebar {
    min-height: inherit;
  }
  .bg-admin .sidebar .signoutLink {
    position: inherit;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.bg-admin .admin-dashboard .table-customer-store-statistics table tr th {
  padding-top: 0;
  border: 0;
}

.bg-admin .admin-dashboard .table-customer-store-statistics table tr td {
  padding-top: 2px;
  padding-bottom: 2px;
}

.bg-admin .admin-dashboard .table-customer-store-statistics table tbody tr .have-length {
  min-width: 160px;
}

.bg-admin .admin-dashboard .table-customer-store-statistics table {
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-top: -10px;
  /* correct offset on first border spacing if desired */
}

.bg-admin .admin-dashboard .table-customer-store-statistics td {
  border: solid 1px #ddd !important;
  border-style: solid none !important;
}

.bg-admin .admin-dashboard .table-customer-store-statistics td:first-child {
  border-left-style: solid !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.bg-admin .admin-dashboard .table-customer-store-statistics td:last-child {
  border-right-style: solid !important;
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.admin-clients .search input {
  background-color: transparent;
  outline: none;
  width: 70%;
}

.badge-pending {
  background-color: #0071BD;
  color: white;
}

.rounded-lg {
  border-radius: 15px !important;
}

.table-hover {
  cursor: pointer;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6;
}

.table td, .table th {
  border-top: 0px;
  border-bottom: 1px solid #dee2e6;
}

.admin-new-clients p {
  margin-bottom: 5px;
}

.admin-new-clients .form-group {
  margin-bottom: 5px;
}

.admin-new-clients label {
  margin-bottom: 5px;
  color: #929292;
}

.admin-new-clients .form-control {
  border-radius: 12px;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 28px;
  background-color: #F5F7FB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

.file {
  height: 1px;
  width: 10px;
  margin-left: 50px;
  margin-top: -2px;
  border: 1px solid transparent;
}

.admin-new-clients .fileInputDiv {
  margin-top: -25px;
}

.admin-client i {
  cursor: pointer;
}

.admin-client .client-current-page {
  border-radius: 5px;
  background-color: thistle;
}

.admin-client .badge {
  min-width: 70px;
}

table tbody tr td {
  vertical-align: middle !important;
}

.border-4 {
  border-width: 4px !important;
}

.border-light-green {
  border-color: #7AD682 !important;
}

.admin-client-store .table-client-store table tr th {
  padding-top: 0;
  border: 0;
}

.admin-client-store .table-client-store table tr td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.admin-client-store .table-client-store table tbody tr .have-length {
  min-width: 160px;
}

.admin-client-store .table-client-store table {
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-top: -10px;
  /* correct offset on first border spacing if desired */
}

.admin-client-store .table-client-store td {
  border: solid 1px #ddd !important;
  border-style: solid none !important;
}

.admin-client-store .table-client-store td:first-child {
  border-left-style: solid !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.admin-client-store .table-client-store td:last-child {
  border-right-style: solid !important;
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.deni-react-treeview-container {
  width: inherit !important;
  border: 0 !important;
  background: none !important;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.admin-client-store .excel-importer {
  display: block;
}

.min-width-1 {
  min-width: 150px;
}

.min-width-2 {
  min-width: 250px;
}

.link-item:hover {
  background-color: rgba(0, 113, 189, 0.24);
  cursor: pointer;
}

.selected {
  background-color: rgba(0, 113, 189, 0.24);
}

.notification-list {
  padding-left: 0px !important;
}

.notification-item {
  list-style: none;
  padding-left: 10px !important;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.admin-client-messages .overflow {
  height: 85vh;
  overflow: auto;
}

.dropdown-item {
  white-space: normal;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.dropdown-header {
  white-space: normal;
  padding-left: 10px;
  padding-right: 10px;
}